section {
  padding: 10px;
  margin: 1%;
  border: 10px dotted;
    width:40%;
    
}
section.column-1 {
  background-color: blue;
 
  display:inline;
  float: left;
 /* height: 1000px;*/
}

section.column-2 {
  background-color: red;

  display: inline;
  float: right;
  /*height:1000px;*/
}

header {
  clear: both;
  background-image: url("https://assets-cdn.github.com/images/modules/logos_page/Octocat.png");
  background-size: contain;
  background-image-opacity: 0.6;
  text-align: center;
}


footer {
   width: 100%; 
   clear: both; 
   text-align: center;
}

h1 {
  font-weight:bolder;
}

h2 {
  font-weight: bolder;
}

p {
  font-family: Helvetica;
}